# Prerequisites
bin/

# Compiled Object files
*.slo
*.lo
bin/*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app

#Data files
data/*.csv
*.csv
*.txt
.vscode/
.DS_Store